* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    padding: 0%;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    position: relative;
}

/* Typography */

h1 {
    font-size: 43px;
    font-weight: bolder;
    cursor: pointer;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}


.no-film {
    color: #DFDDDD;
    font-size: 18px;
}


.runtime {
    color: #111827;
    font-size: 12px;
    font-weight: 200;
}

.movie-title {
    color: black;
    font-family: 18px;
}

.rating,
.genre {
    color: black;
    font-size: 12px;
    font-weight: 300;
}

.plot {
    color: #6B7280;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5;
}






/* --------layout-------- */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 208px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("bttom_7_grid_3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

/* Search bar */

.search-bar {
    width: 462px;
    height: 38px;
    border: 1px solid #DFDDDD;
    border-radius: 6px;
    position: absolute;
    top: 189px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    z-index: 10;

}

.part-one {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: start;

}

.material-symbols-outlined {
    margin: 11px 10px 11px 15px;
    color: #BDBDBD;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

input {
    border: none;
    outline: none;
    color: #9E9E9E;

}

.btn-div {
    flex: 1;
    display: flex;
    text-align: center;
    border-left: 1px solid #DFDDDD;
    height: 100%;



}

.search-btn {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #F9FAFB;
    cursor: pointer;

}


/* Initial laoding page (no-data)  */

.no-data .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 48;
    margin: 0;
    font-size: 120px;
}



.no-data {
    display: block;
    text-align: center;
}

/* results layouts */

.movie-card {
    width: 462px;
    height: 148px;
    display: flex;
    gap: 21px;

}

.poster {
    width: 99px;

}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.header-title .material-symbols-outlined {
    color: #FEC654;
    margin: 0 4px 0 8px;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
}

.movie-data {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    background-color: white;
    border: none;
    cursor: pointer;
}

.fa-circle-plus {
    font-size: 16px;
}

.divider {
    border: 1.5px solid #E5E7EB;
    width: 450px;
    margin: 20px auto;
}